._table {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.table__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #8e9aa3a3;
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 8px;
}

.table__header span {
  width: 25%;
  text-align: left;
}

.table__body {
  display: flex;
  flex-direction: column;
  font-size: 0.78em;
  font-weight: 600;
}

.table__rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.table__rows span {
  width: 25%;
  text-align: left;
}

.table__rows span:nth-child(2),
.table__rows span:nth-child(3) {
  color: #8e9aa3;
}

.table__rows span > button {
  font-size: 0.78em;
  padding: 5px 15px;
  font-weight: 600;
}

.table__rows span > button.btn-default {
  border: 1px solid;
  color: #8e9aa3;
}
